

# Ignore python compiled files
*.pyc
__pycache__

# Ignore pycharm project settings
.idea

dist/
build/
*.egg-info/
# Ignore pycharm project files
.idea/

MANIFEST

# Ignore sonarscanner
.scannerwork/